div{
    padding-top: 7%;
    padding-bottom: 30%;
}

.container{
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: solid #646162;
}

textarea{
    margin-top: 30px;
}