body {
    background-color: #c9d1dc;    
    font-family: 'Roboto', sans-serif;
}

.menu {
    text-align: center;
    float: left;
    width: 15%;
}

.principal {
    float: right;
    clear: right;
    width: 85%;
    text-align: right;
}

.navegacao {
    list-style: none;
    padding: 0;
}
